# Python
__pycache__/
*.pyc
*.egg-info/
build/
dist/

# Virtual environment
.venv/

# Lumalapse projects / outputs
*.llproj
*.mp4
*.mov
*.mkv

# Directory
testdata/

# IDE / OS
.idea/
.vscode/
Thumbs.db
